<button mat-menu-item [matMenuTriggerFor]="producersMenu" (menuOpened)="getModels(trigger)">
    {{trigger}}</button>

<mat-menu #producersMenu="matMenu">

    <button
    mat-menu-item
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-spinner mode="indeterminate" diameter="24"></mat-spinner>
  </button>

    <ng-container *ngFor="let node of data; let i = index">
        <button mat-menu-item>
            <app-producers-menu [trigger]="node"></app-producers-menu>
        </button>
        <ng-template #menuItem>
            <button mat-menu-item>{{node}}</button>
        </ng-template>
    </ng-container>
</mat-menu>