

<div class="wrapper">
    <div class="producers">
        <mat-form-field>
            <mat-label>Producers</mat-label>
            <mat-select (selectionChange)="onProducerChanged($event)">
                <mat-option *ngFor="let producer of producers" [value]="producer">
                    {{producer}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="models" *ngIf="models.length > 0">
        <mat-form-field>
            <mat-label>Models</mat-label>
            <mat-select (selectionChange)="onModelChanged($event)">
                <mat-option *ngFor="let model of models" [value]="model">
                    {{model}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
