
.searchBar {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
  }
  
  .searchBarClear {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .searchBarInput {
    
    width: 700px;
    height: 30px;
    font-size: 16px;
    margin-left: 50px;
    border-radius: 4px;
    border: 2px solid grey;width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://static.vecteezy.com/system/resources/previews/015/337/677/non_2x/transparent-search-icon-free-png.png'); 
    background-size: 35px 35px ;
    background-repeat: no-repeat;
    padding: 20px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  .searchBarInput:focus{
    width: 100%;
  }