h1{
    margin-top: 50px;
    margin-left: 50px;
    text-align: left;
}

.container {
    float: left;
    margin: 0 auto;
    width: 1400px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: left;
  }
  
  .searchBar {
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
  }
  
  .searchBarClear {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .searchBarInput {
    
    width: 700px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 4px;
    border: 2px solid grey;width: 180px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://static.vecteezy.com/system/resources/previews/015/337/677/non_2x/transparent-search-icon-free-png.png'); 
    background-size: 35px 35px ;
    background-repeat: no-repeat;
    padding: 20px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  .searchBarInput:focus{
    width: 100%;
  }
  
  
  .itemsTable {
    float:left;
    display: block;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: auto;
    align-items: left;
  }
  

  .item {
    float:left;
    display: block;
    width: 1200px;
    border: 5px solid rgb(5, 5, 93);
    padding: 30px;
    margin: 20px;
    background-color: #fff
  }

  .url_site{
    margin: 5px;
  }

  .phone_title{
    color :black;
    margin-left: 10px;
    font-size: 16px;
    
  }
  .phone_title:link{
    text-decoration: none;
  }
  .phone_title :hover{
    color: rgb(75, 75, 99);
    overflow: visible;
  }

  .phone_price{
    margin-left: 20px;
    color : peru;
    font-weight :bold;
    font-size: medium;
  }
  .phone_price:link{
    text-decoration: none;
  }

  .phone_price:hover{
    text-decoration: underline;
  }


  .phone_availability{
    margin-left: 20px;
    color: rgb(4, 97, 4);
    font-weight :bold;
    font-size: medium;
  }

  
  .storeButton {
    
    background-color: #008CBA;;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
  }

  .categoryButton{
    
    background-color: #ba7f00;
    border: none;
    color: rgb(25, 24, 24);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
  }