<app-menu class="menu">

</app-menu>


<div class="container">
   <form
      [formGroup]="searchForm"
      class="searchBar"
      (ngSubmit)="onSearchSubmit()"
    >
      <input
        type="text"
        placeholder="Search phone..."
        formControlName="searchValue"
        class="searchBarInput"
      />
    </form>
    <div class="itemsTable">
      <div class="item" *ngFor="let item of items"> 
        <a class="url_site" href={{item.site}}>
          <img src={{item.logo}} alt="">
        </a>
        <a class="phone_title" href={{item.url}}>
        <span>{{item.title}}</span></a>
        <a class="phone_price" href={{item.url}}> 
          <span>{{item.price}}</span></a>
        <span class="phone_availability">{{item.availability}}</span>
        <a class="storeButton" href={{item.url}}>to the store</a>
        
      </div>
    </div>
  </div>