<app-menu>ComparePhonePrices</app-menu>
<h1>Search phone</h1>

<div class="container">
    <form
      [formGroup]="searchForm"
      class="searchBar"
      (ngSubmit)="onSearchSubmit()"
    >
      <input
        type="text"
        placeholder="Search..."
        formControlName="searchValue"
        class="searchBarInput"
      />
    </form>
    <div class="itemsTable">
      <div class="item" *ngFor="let item of items"> 
        <a class="url_site" href={{item.site}}>
          <img src={{item.logo}} alt="">
        </a>
        <a class="name" href={{item.url}}>
        <span>{{item.title}}</span></a>
        <span>{{item.price}}</span>
        <span>{{item.availability}}</span>
        
      </div>
    </div>
  </div>